<a href="https://colab.research.google.com/github/MohitDhungana/duplicate_question_detection/blob/master/quora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from time import time
import pandas as pd
import numpy as np
from gensim.models import KeyedVectors
import re
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

import itertools
import datetime

from keras.preprocessing.sequence import pad_sequences
from keras.models import Model
from keras.layers import Input, Embedding, LSTM, Lambda
import keras.backend as K
from keras.optimizers import Adadelta
from keras.callbacks import ModelCheckpoint

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Using TensorFlow backend.

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
!ls '/content/drive/My Drive'

 53678.jpg				'How to get started with Drive.pdf'
'6th sem.zip (Unzipped Files)'		 IMG_4388.MOV
'Colab Notebooks'			 mid-term-report-computer.gdoc
 final.rar				 q_quora.csv
 final.zip				 stock_price.csv
 flower.csv				 train.csv
 GoogleNews-vectors-negative300.bin.gz

In [0]:
df = pd.read_csv('/content/drive/My Drive/train.csv')

stops = set(stopwords.words('english'))

def text_to_word_list(text):
    ''' Pre process and convert texts to a list of words '''
    text = str(text)
    text = text.lower()

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)

    text = text.split()

    return text

In [7]:

# Prepare embedding

vocabulary = dict() 
inverse_vocabulary = ['<unk>']  # '<unk>' will never be used, it is only a placeholder for the [0, 0, ....0] embedding
word2vec = KeyedVectors.load_word2vec_format('/content/drive/My Drive/GoogleNews-vectors-negative300.bin.gz', binary=True)

questions_cols = ['question1', 'question2']

# Iterate over the questions only of both training and test datasets
for dataset in [df]:
    for index, row in dataset.iterrows():

        # Iterate through the text of both questions of the row
        for question in questions_cols:

            q2n = []  # q2n -> question numbers representation
            for word in text_to_word_list(row[question]):

                # Check for unwanted words
                if word in stops and word not in word2vec.vocab:
                    continue

                if word not in vocabulary:
                    vocabulary[word] = len(inverse_vocabulary)
                    q2n.append(len(inverse_vocabulary))
                    inverse_vocabulary.append(word)
                else:
                    q2n.append(vocabulary[word])

            # Replace questions as word to question as number representation
            dataset.set_value(index, question, q2n)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:29: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [9]:
df.head(20)

    id  qid1  ...                                          question2 is_duplicate
0    0     1  ...                 [1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 10]            0
1    1     3  ...  [1, 19, 20, 21, 3, 22, 23, 24, 3, 13, 14, 15, ...            0
2    2     5  ...            [26, 27, 31, 29, 36, 37, 5, 38, 39, 40]            0
3    3     7  ...  [48, 3, 49, 50, 51, 52, 53, 54, 51, 2, 55, 5, ...            0
4    4     9  ...                        [56, 67, 19, 68, 8, 62, 59]            0
5    5    11  ...  [16, 42, 81, 71, 72, 74, 82, 8, 71, 1, 76, 83,...            1
6    6    13  ...                [1, 87, 88, 89, 90, 91, 92, 93, 94]            0
7    7    15  ...                        [1, 84, 16, 97, 36, 98, 96]            1
8    8    17  ...                             [50, 97, 99, 100, 101]            0
9    9    19  ...          [26, 97, 16, 104, 102, 107, 108, 109, 31]            0
10  10    21  ...  [1, 115, 116, 3, 117, 118, 27, 119, 79, 3, 120...            0
11  11    23  ...               [26, 27, 16, 128, 129, 30, 126, 127]            1
12  12    25  ...                   [26, 27, 99, 130, 131, 132, 133]            1
13  13    27  ...                       [1, 134, 135, 136, 137, 138]            1
14  14    29  ...  [1, 115, 3, 140, 141, 135, 142, 91, 143, 144, ...            0
15  15    31  ...  [26, 164, 153, 154, 165, 3, 160, 166, 8, 147, ...            1
16  16    33  ...                                  [1, 76, 170, 171]            1
17  17    35  ...                  [26, 97, 178, 179, 180, 181, 182]            0
18  18    37  ...  [41, 97, 192, 193, 185, 188, 56, 27, 36, 190, ...            1
19  19    39  ...             [56, 2, 3, 195, 196, 197, 200, 8, 201]            0

[20 rows x 6 columns]